<div class="container">
    <div class="filters">
      <button routerLink='/catalog' [queryParams]="{filter : 'Heads'}" routerLinkActive="active" class="button">Heads</button>
      <button routerLink='/catalog' [queryParams]="{filter : 'Arms'}" routerLinkActive="active" class="button">Arms</button>
      <button routerLink='/catalog' [queryParams]="{filter : 'Torsos'}" routerLinkActive="active" class="button">Torsos</button>
      <button routerLink='/catalog' [queryParams]="{filter : 'Bases'}" routerLinkActive="active" class="button">Bases</button>
      <button routerLink='/catalog'  routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}" class="button">All</button>
    </div>
  
    <ul class="products">
      <li class="product-item" *ngFor = "let currentProduct of getFilteredProducts()">
        <bot-product-details [product]="currentProduct" (buy)="addToCart(currentProduct)"></bot-product-details>
      </li>
    </ul>
  </div>
